.close-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
    padding-top: 5px;
  }
  
  .close-icon {
    cursor: pointer;
  }
  
  .card-container {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  