.backdrop-container {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: transparent;
  top: 0;
  display: flex;
  align-items: center;
  backdrop-filter: blur(6px);
}
